*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img{
    width: 70px;
}

.feature{
    position: absolute;
    display: flex;
    color: white;
}

.feature div{
    margin-left: 30px;
}

.feature div p{
    margin-top: 8px;
}

.one{
    top: 450px;
    right: 42px;
}

.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four{
    bottom: 150px;
    right: 300px;
    transform: rotate(-270deg);
}

.mobile{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3{
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

#upBtn{
    width: 15px;
    cursor: pointer;
}

#downBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid rgb(255, 255, 255);
    border-right: 500px solid transparent;
    border-bottom: 500px solid rgb(255, 255, 255);
    border-left: 500px solid rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
}




#top{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top .logo{
    width: 80px;

}

#top ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

#top ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 1s;
}

#top ul li a:hover{
    font-size: 20px;
    text-decoration: underline;
}