body{
  background-color: #5d4a4a;
}

.commentsheet {
    margin:7% auto;
    color: #000000;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

input[type="radio"] {
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.ratingbar label{
  float: left;
  padding: 0 1em;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.22);
  font-size: 16px;
  line-height: 24px;
}

select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.479);
  cursor: pointer;
}

button[type="submit"] {
  background-color: rgba(1, 2, 68, 0.712);
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 1.5%;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  background-color: rgba(1, 2, 68, 1);
}

button[type="reset"] {
  background-color: rgba(174, 6, 6, 0.726);
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

button[type="reset"]:hover {
  transform: scale(1.05);
  background-color: rgba(174, 6, 6, 1);
}




nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;}

nav .logo{
    width: 80px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 1s;
}

nav ul li a:hover{
    font-size: 20px;
    text-decoration: underline;
}